.hero-section {
  width: 100%;
  height: 90vh;
  position: relative;
  top: -4.7rem;
}



.img-container {
  width: 100%;
  height: 100.6vh;
  position: relative;
  text-align:center;
}


.joibus{
  background-color: red;
  color: aliceblue;
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: none;

}
.img-container .containerImage {
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
#title{
  position: absolute;
  top:50%;
  left: 50%;
  translate: -50% 95%;
  font-size: 2rem;
  
  color: #fff;
  z-index: 100;
}
.btnHolder {
  position: absolute;
  height: 100.6vh;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .hero-section {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
.hero-section {
  width: 100%;
}
.img-container{
  width: 100%;
}
}

