.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
   justify-content: center;
   background: rgb(25,8,37);
   background: linear-gradient(90deg, rgba(25,8,37,1) 0%, rgba(69,65,65,1) 50%, rgba(255,77,77,1) 100%);
 
  }