.mainPart{

    background-color:lightblue;
    background-size: cover;
    height: 93vh;
}
.loginclass{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid saddlebrown;
    width: 60vh;
    height: 60vh;
    background-color: white;
    margin-left: 35vw;
}
.form1{
    margin-left: 30px;
}
.loginbtn{
    margin-top: 3vh;
    width: 15vh;
    border: none;
    background-color: black;
    color: white;

}

.input1 input{
    margin-top: 5vh;
}
.loginreg{
    margin-top: 300px;
}
.reglink{
    color: black;
    text-decoration: none;
    background-color: lightgoldenrodyellow;
}
@media  (max-width:610px){
    .mainPart{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        margin-left: -150px;
        width: 800px;
    }
    .loginclass{
        
    }
}