* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;

}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.bg-test {
  background-color: coral;
}

.jc-between {
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}
.active-link{
  color: red;
}